*{
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}
.nav{
  width: 100vw;
  background-color: black;
  color: white;
  padding: 2vh;
  border: 1px dotted white;
  display: flex;
}

.box{
  border: 1px solid white;
  color: white;
  text-align: center;
  width: max-content;
  margin: 4vh auto;
  display: flex;
  align-content: center;
}
.value{
  font-size: 3vh;
  font-weight: 10;
  justify-content: center;
  margin: auto 2vw;
  
}
.image{
  width: 30vw;
}
.insert{
  color:white;
  text-align: center;
}
.btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.userData{
  color: white;
  font-size: 1vh;
  margin: 2vh 2vw;
}
.title{
  margin:auto;
  font-size: 6vh;
  
}
.logout{
  margin-right: 4vw;
}