.form{
    color: white;
    /* background-color: white; */
}
input{
    color: white;
    font-size: 4vh;
    margin: 2vh;
    padding: 1vh;
}
button{
    color: white;
    font-size: 4vh;
    padding: 2vh;
    margin: 1vh;
    box-shadow: 1px 1px 5px white;
}
.body{
    border: 1px solid white;
    text-align: center;
    width: max-content;
    font-size: 4vh;
    padding: 5vh;
    margin: 5vh auto;
}
.heading{
    color : white;
}